* {-webkit-tap-highlight-color: rgba(255,255,255,.2);}

body {margin: 0; font-family: 'Catamaran'; color: #fff; background: rgb(20,20,25)}

.topbar {color: #fff !important; z-index: 89; transition: padding .2s; position: fixed; top: 0px; left: 0px; width: 100%; padding: 10px 0px}

.topbar ul {margin: 0; list-style-type: none;}

.topbar .menu {position: static; float: right;}

.topbar .mobilemenu {margin-top: 10px; display: none; transition: margin .1s; fill: #fff; width: 24px; padding: 15px; height: 24px; position: absolute; top: 0px; left: 0px;}

.topbar .inner {width: 87%; max-width: 1300px}
.topbar .logo {text-align: center; font-size: 23px; font-weight: 900; color: #fff; margin: 11px 0; box-sizing: content-box; float: left; width: 60px; height: 38px; background-position: center center; background-size: contain; background-repeat: no-repeat}

.topbar .menu ul {overflow: hidden; box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2); right: 0; top: 80%; transition: all .1s; border-radius: 8px; background-color: #fff; position: absolute; opacity: 0; pointer-events: none}
.topbar .menu ul a {white-space: nowrap; color: #000;}
.topbar .menu li:hover ul {top: 90%; opacity: 1; pointer-events: all}
.topbar .menu li ul li:hover {background: rgba(0,0,0,.2)}
.topbar .menu > li ul > li a {padding: 8px 12px; color: #000;}

.topbar .menu li .mdi {padding-right: 5px}
.topbar .menu li {display: inline-block; transition: all .3s; cursor: pointer; font-size: 16px; position: relative;}
.topbar .menu li li {border-top: 1px solid #eee; width: 100%}
.topbar .menu li a {display: inline-block; position: relative; padding: 15px; color: #fff;}
.topbar .menu > li > a:after {transition: all .1s; content: ''; position: absolute; left: 50%; bottom: 10px; width: 0%; height: 1px; background: #2196F3}
.topbar .menu > li:hover > a:after, .topbar .menu > li > a.a:after {left: calc(0% + 15px); width: calc(100% - 30px);}

.topbar.small {box-shadow: 0 0 15px 0 rgba(0,0,0,.2); color: #000 !important; padding: 0px; background: rgb(39, 39, 39)}
.topbar.small .mobilemenu {margin: 0; fill: rgb(255, 255, 255);}
.topbar.small li a {color: rgb(255, 255, 255);}

#animatedlogo {max-width: 230px; width: 100%; stroke-width: 40;}
#animatedlogo * {transition: fill .3s; fill: transparent; stroke: #fff}
#animatedlogo.full * {fill: #fff;}

.backgroundimg { z-index: -10; top: -5%; left: -5%; position: fixed; width: 110%; height: 110%; opacity: .2; background-size: cover; background-position: center;}

.semiopacity {opacity: .5}
.underlined {border-bottom: 1px solid #fff; display: inline-block; padding-bottom: 3px}
.biggerlines {line-height: 150%;}
.biggerlines2 {line-height: 200%;}

.bottomcenter {position: absolute; left: 0%; bottom: 0px; width: 100%; text-align: center}

.headerscrollbutton {transition: all .3s; width: 35px; height: 35px; padding: 5px; margin: 10px; fill: #fff; border-radius: 100%}
.headerscrollbutton:hover {background: rgba(0,0,0,0.7)}

svg {box-sizing: content-box;}

.roundedimg {margin-bottom: 10px; width: 120px; height: 120px; background: rgba(0,0,0,.05); border-radius: 50%;}
.roundedimg.border {padding: 10px; width: 100px; height: 100px;}

.heroicon {box-sizing: content-box; font-size: 40px; width: 40px; height: 40px; line-height: 40px; text-align: center; margin: 20px 0; padding: 20px; display: block; background: rgba(0,0,0,.05); border-radius: 50%}
.socialicon {transition: all .3s; border-radius: 50%; text-align: center; box-sizing: content-box; background: rgba(0,0,0,.05); font-size: 20px; width: 20px; height: 20px; line-height: 20px; padding: 10px; margin: 5px; display: inline-block}
.socialicon.big {font-size: 30px; width: 30px; height: 30px; line-height: 30px; padding: 10px; margin: 5px; display: inline-block}
.socialicon:hover {background: rgba(0,0,0,.1);}

.thd {color: rgba(255,255,255,.8); text-transform: uppercase; display: block; font-size: 13px; font-weight: 400; margin-bottom: 0px}
.thd.padding {margin-bottom: 9px}

.content {position: relative;}
.content .bck {opacity: .1; z-index: 0; content: ''; background-size: cover; background-position: center; position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.content .inner {position: relative; z-index: 10; max-width: 900px; padding: 0px 20px; padding-top: 20px}
.content.bwhite {background: #fff; color: #555; padding: 90px 0px}

.card.noborder {box-shadow: none}

.card.special {top: 0; position: relative; transition: top .1s; margin-bottom: 20px; overflow: hidden; padding: 0px; background: #fff; max-width: 500px; box-shadow: 0px 2px 15px 0px rgba(0,0,0,.2); border-radius: 10px;}
.card.special:hover {top: -10px;}

/* stupid css */

.footer .inner {padding-top: 5px; font-size: 17px}
.footer .row {margin: 0;}
.footer .light a {color: #fff;}
.footer .light {line-height: 150%; background: #062350; color: #fff; padding: 30px 0px}
.footer .light .col {float: right}
.footer .dark {line-height: 150%; background: #041530; color: #fff; padding: 30px 0px}
.footer a {text-decoration: none;}

.outer {position: relative; display: table;}
.middle {display: table-cell; vertical-align: middle; text-align: center}

h1 {font-weight: 700}

.size1 {font-size: 50px !important; margin: 12px 0px;}
.size2 {font-size: 40px !important; margin: 9px 0px;}
.size3 {font-size: 35px !important; margin: 7px 0px;}
.size4 {font-size: 30px !important; margin: 6px 0px;}
.size5 {font-size: 25px !important; margin: 5px 0px;}
.size6 {font-size: 19px !important; margin: 3px 0px;}

.pdn {position: relative; display: block}


@keyframes topfall {
    0% {opacity: 0; top: -30px; position: relative}
    100% {opacity: 1; top: 0px; position: relative}
}

@keyframes topdown {
    0% {top: -20px; position: relative}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {top: 0px; position: relative}
}

@keyframes opacity {
    0% {}
    100% {opacity: 1;}
}


@media only screen and (max-width: 601px) {
    .footer .dark .col {text-align: center !important;}
    .topbar .logo {width: auto; float: none;}
    .topbar .mobilemenu {display: block;}
    .topbar .menu {z-index: 99; transition: all .2s; background: #fff; position: fixed; left: -300px; top: 0; width: 300px; height: 100%;}
    .topbar .menu.open {left: 0px;}
    .topbar .menu ul {opacity: 1; pointer-events: all; position: static}
    .topbar .menu li {display: block;}
    .topbar .menu li a {color: #555; display: block;}
    .topbar .menu > li ul > li a {padding: 15px; padding-left: 40px;}
    .topbar .menu li:hover > a {background: rgba(150,150,150,.2);}
    .topbar .menu li ul {width: 100%}
    .topbar .menu li .a {color: #0D47A1; fill: #0D47A1; background: rgb(13,71,161,.1); box-shadow: inset 3px 0px 0px 0px #0D47A1; font-weight: 700}
    .topbar .menu li a:after {display: none}
    .topbar .menu ul {overflow: hidden; box-shadow: none; border-radius: 0px;}
    #menumask {z-index: 90; transition: opacity .3s; pointer-events: none; opacity: 0; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,.5)}
    #menumask.open {pointer-events: all; opacity: 1;}
    .topbar .menu li .a {background: rgba(235, 30, 30, 0.1) !important;}
    .topbar .menu li .mdi {position: absolute; top: 8px; left: 15px; font-size: 25px}
    .topbar .menu li a {padding-left: 50px}
}

@media only screen and (min-width: 601px) {
    .topbar .menu > li .filled {color: #000; padding: 5px 10px; background: #eee; border-radius: 20px; color: #000;}
    .topbar .menu > li .filled:after {display: none}
}


.backgroundimg {background-image: url("bcg2.png"); opacity: .5;} /* Sets background image */
.topbar .logo {background-image: url("logo.png");} /* Sets logo image */
.header {filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5))}
.topbar.small .logo {background-image: url("logo.png");} /* Sets logo */
.topbar .menu > li > a:after {background: #000000} /* Sets color of the little shit under topbar */

@media only screen and (max-width: 601px) {
    .topbar .menu li .a {color: #f44336; fill: #f44336; box-shadow: inset 3px 0px 0px 0px #f44336}
}

a {color: #f44336}

.vid {border-radius: 10px; overflow: hidden; transition: all .2s; top: 0px; margin: 12px; display: inline-block; box-shadow: 0px 0px 20px 0px rgba(0,0,0,.5); max-width: 300px; width: 100%; height: 287px; background-size: 100%; background-position: top; position: relative;}
.vid:hover {cursor: pointer; box-shadow: 0px 5px 20px 4px #a51919aa; top: -5px}

.vid div {transition: all .2s; width: 100%; position: absolute; bottom: 0px; left: 0px; background: #370808; padding: 10px; color: #fff}
.vid:hover div {background: #000000; color: #fff}

.footer .dark {background: #000000;}

#div_player {transition: all .1s; box-shadow: 0px 0px 10px 0px #000;}
#div_player:hover {box-shadow: 0px 0px 10px 4px #000000;}

.card.special:hover {top: 0px;}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {color: #f44336}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {background-color: #f44336;}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {border: 2px solid #f44336;}