body {
    margin: 0;
    font-family: 'Noto Sans JP';
    color: #fff;
    background: rgb(63, 63, 63)
}

#versionholder {
    border-radius: 15px;
    padding: 20px;
    background: rgb(119, 119, 119);
}

.buttondownload {
    border-radius: 10px;
    padding: 10px;
    background-color: #0081cc;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 0px;
}
  
  ::-webkit-scrollbar-track {
    border-radius: 0px;
}
   
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}