---
layout: base
---
<div class="sidenav">
    <a href="/faq/">FAQ</a>
    <button class="dropdown-btn">Java Edition
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">Playing old versions
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">BetaCraft (Recommended)</a>
            <a href="#">MultiMC</a>
            <a href="#">MineOnline</a>
            <a href="#">Mojang's Launcher</a>
        </div>
        <a href="#">Installing mods</a>
        <a href="#">Link 3</a>
    </div>
</div>

<div class="docscont">
    {{ content }}
</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>